<!doctype html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Learning how to code an HTML email</title>
<style>
{{!-- CSS will be here --}}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}
.p-3 {
  padding: 0.75rem !important;
}
.m-3 {
  margin: 0.75rem !important;
}
.has-text-primary {
  color: #00d1b2 !important;
}

.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}
a:link {
  text-decoration: none;
}

</style>
</head>
<body>
   <div class="container">
       <div class="card p-3 m-3">
            <div class="content is-medium">
                <h3 class="has-text-primary">Merhaba {{firstName}},</h3>
                <p>Şifre yenilem talebin alınmıştır.</p>
                <p>Eğer şifre yenileme talebinde bulunmadıysan bu e-postayı dikkate almayabilirsin!</p>
                <p>Şifre yenileme linki <b>10 dakika</b> boyunca geçerlidir.</p>
                <p>Yeni şifreni oluşturmak için aşağıdaki butona tıklamalısın.</p>
                <br/>
                <a class="button is-primary" href={{ url }} target="_blank">Şifremi Yenile!</a>
                <br/>
                <p>Sağlıklı günler dileriz.</p>
                <b>KMC Group</b>
            </div>          
        </div>
   </div> 
</body>
</html>